{% extends 'base.html' %}
{% load static %}
{% block title %}Resources{% endblock title %}
{% block content %}
<div class="mx-auto px-[7.5%]">
    <h1 class="text-zinc-400 text-2xl font-thin">
        Welcome to our resources page! Here you will find a collection of helpful links and 
        information that we hope will be of use to you. Whether you are looking for information 
        on our club's history, our upcoming events, or simply want to learn more about our cause, 
        we have something for everyone.
    </h1>
    <div class="mt-4">
        <h1 class="text-[#F9C56A] text-[1.35rem] font-bold">Applied Linear Algebra</h1>
        <p class="text-zinc-400 text-xl">The best resources to cover up the fundamental base of Quantum Computing is listed below:</p>
        <div class="px-10">
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.khanacademy.org/math/linear-algebra">➝ <span class="hover:text-[#F9C56A]">Khan Academy</span></a><br>
            <p class="text-xl text-gray-300 duration-100">TextBook: Introduction to Linear Algebra, Gilbert Strang</p>
        </div>
    </div>
    <hr class="mt-6 text-xs border border-[#252525]">
    <div class="mt-4">
        <h1 class="text-[#F9C56A] text-[1.35rem] font-bold">Quantum mechanics</h1>
        <p class="text-zinc-400 text-xl">The below links will help you understand the nature on which Qubits work:</p>
        <div class="px-10 text-gray-200">
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://youtu.be/Rh1Zux9kdnk">➝ <span class="hover:text-[#F9C56A]">Animated video on: Dual Nature of electrons</span></a><br>
            <p class="text-xl text-gray-300 duration-100">Reference Book: Feymann series volume 3</p>
        </div>
    </div>
    <hr class="mt-6 text-xs border border-[#252525]">
    <div class="mt-4">
        <h1 class="text-[#F9C56A] text-[1.35rem] font-bold">Python</h1>
        <p class="text-zinc-400 text-xl">Quantum is computed using Python programming 
            language, so to use well known applications like Qiskit and PennyLane the 
            below links would be helpful:</p>
        <div class="px-10 text-gray-200">
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://wiki.python.org/moin/BeginnersGuide">➝ <span class="hover:text-[#F9C56A]">Python Doc</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.geeksforgeeks.org/python-programming-language/">➝ <span class="hover:text-[#F9C56A]">Python by GFG</span></a><br>
        </div>
    </div>
    <hr class="mt-6 text-xs border border-[#252525]">
    <div class="mt-4">
        <h1 class="text-[#F9C56A] text-[1.35rem] font-bold">Quantum Computing</h1>
        <p class="text-zinc-400 text-xl">Once you cover up the fundamentals, now its time to start 
            implementing through learning and below resource are helpful for that:</p>
        <div class="px-10 text-gray-200">
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://qiskit.org/textbook/preface.html">➝ <span class="hover:text-[#F9C56A]">Qiskit Doc</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://quantum-computing.ibm.com/composer/files/new">➝ <span class="hover:text-[#F9C56A]">For Geometrical Representation:  IBM Composerv</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.youtube.com/watch?v=2SPjEA-4lKk&list=PLuBwWyD3M82x9PfxeF7oxb0E122mQAWh6">➝ <span class="hover:text-[#F9C56A]">Online Course on Introduction to Quantum Computing  by IIT Madras:</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://codebook.xanadu.ai/">➝ <span class="hover:text-[#F9C56A]">PennyLane Codebook</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.edx.org/course/intro-to-quantum-computing">➝ <span class="hover:text-[#F9C56A]">Introduction to Quantum Computing by UBC edx</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://qkrishilearn.com/courses-page/ibm-qiskit-associate-developer-certification-course-by-qkrishi/">➝ <span class="hover:text-[#F9C56A]">IBM Qiskit Developer:  The complete certification Course</span></a><br>
        </div>
    </div>
    <hr class="mt-6 text-xs border border-[#252525]">
    <div class="mt-4">
        <h1 class="text-[#F9C56A] text-[1.35rem] font-bold">AI and Machine Learning</h1>
        <p class="text-zinc-400 text-xl">Interested in AI and ML, then the below links are you 
            to explore and learn:</p>
        <div class="px-10 text-gray-200">
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://scikit-learn.org/stable/">➝ <span class="hover:text-[#F9C56A]">SkLearn resources:</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.coursera.org/learn/machine-learning">➝ <span class="hover:text-[#F9C56A]">Andrew NG machine learning:</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="http://neuralnetworksanddeeplearning.com/">➝ <span class="hover:text-[#F9C56A]">Neural Network and Deep Learning:</span></a><br>
        </div>
    </div>
    <hr class="mt-6 text-xs border border-[#252525]">
    <div class="mt-4">
        <h1 class="text-[#F9C56A] text-[1.35rem] font-bold">Quantum Machine Learning (QML)</h1>
        <p class="text-zinc-400 text-xl">If you want to apply Machine Learning and use the 
            Quantum advantage then, the below links are for you:</p>
        <div class="px-10 text-gray-200">
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://qiskit.org/ecosystem/machine-learning/tutorials/index.html">➝ <span class="hover:text-[#F9C56A]">Qiskit QML Resource doc</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://pennylane.ai/qml/demonstrations/">➝ <span class="hover:text-[#F9C56A]">PennyLane QML Demo sheet.</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.edx.org/course/quantum-machine-learning">➝ <span class="hover:text-[#F9C56A]">Course on QMLby University of Toronto edX </span></a><br>
        </div>
    </div>
    <hr class="mt-6 text-xs border border-[#252525]">
    <div class="mt-4">
        <h1 class="text-[#F9C56A] text-[1.35rem] font-bold">Newsletters</h1>
        <p class="text-zinc-400 text-xl">Get update and exposed to latest tech in the Quantum Realm:</p>
        <div class="px-10 text-gray-200">
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://qureca.com/category/quantum-technologies/">➝ <span class="hover:text-[#F9C56A]">QURECA</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.quera.com/news">➝ <span class="hover:text-[#F9C56A]">QuEra</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.dwavesys.com/company/newsroom/">➝ <span class="hover:text-[#F9C56A]">D-wave</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.quantumgrad.com/news">➝ <span class="hover:text-[#F9C56A]">D-QuantumGrad</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://medium.com/@qiskit">➝ <span class="hover:text-[#F9C56A]">Qiskit (Medium)</span></a><br>
        </div>
    </div>
    <hr class="mt-6 text-xs border border-[#252525]">
    <div class="mt-4">
        <h1 class="text-[#F9C56A] text-[1.35rem] font-bold">Youtube Channels</h1>
        <p class="text-zinc-400 text-xl">Finding it difficult to understand the theory then these 
            links would help you visualize and learn easily:</p>
        <div class="px-10 text-gray-200">
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.youtube.com/@qiskit">➝ <span class="hover:text-[#F9C56A]">Qiskit</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.youtube.com/@quantumcoalition4687">➝ <span class="hover:text-[#F9C56A]">Quantum Coalition</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.youtube.com/@quantumgrad4896">➝ <span class="hover:text-[#F9C56A]">QuantumGrad</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.youtube.com/@XanaduAI">➝ <span class="hover:text-[#F9C56A]">Xanadu</span></a><br>
            <a class="text-xl text-gray-300 duration-100" target="#" href="https://www.youtube.com/@QuTechAcademy">➝ <span class="hover:text-[#F9C56A]">QuTech Academy</span></a><br>
        </div>
    </div>
    <hr style="" class="my-3 text-xs border border-[#252525]">
    <h1 class="text-zinc-400 text-2xl font-thin">
        We are always looking for new resources to add to our page, so if you have any 
        suggestions, please don't hesitate to contact us. We appreciate your help in making 
        our resources page the best it can be.
    </h1>
    <br>
    <h1 class="text-zinc-400 text-2xl font-thin">
        We hope you find our resources page helpful. Please let us know if you have any 
        questions or feedback.
    </h1>
</div>
{% endblock content %}


    {% comment %}  {% endcomment %}